{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


    <section>

        <div style="width: 75%; margin: auto; text-align: left; color: white;">
        
        Categorias:&nbsp;&nbsp;<a href="{% url 'Tienda' %}" style="color: white;">Inicio</a>&nbsp;
        

              {{ categoria_actual.nombre }}

        </div>

    </section>

<div class="container">

  <div style="float: right ;">


    {% if request.user.is_authenticated %}
  

    {% include "carro/widget.html" %}

    {% else %}

    <div class="alert alert-danger text-center">Login para ver Carro</div> 

    {% endif %}
  
  </div>

  <div class="row">

  {% for producto in productos %}
  
    <div class="col-md-3">

     <div class="card" style="width: 100%; margin: 5px 5px;">

      <img src="{{producto.image.url}}" class="card-img-top">

      <div class="card-body" style="text-align: center;"> 

        <h7 class="card-title">{{producto.nombre}}</h7>

        <p class="card-text">&nbsp;S/.{{producto.precio}}</p>

        </div>

        <div class="card-footer text-center">

          <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>

        </div>

      </div>
    </div>

    {% endfor %}
</div>
  </div>

  {% endblock %}