{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    <section>

        <div style="width: 75%; margin: auto; text-align: left; color: white;">
        
        Categorias:

        {% for cat in categorias %}

              <a href="{% url 'productos_por_categoria' categorias_id=cat.id %}" class="linksCategorias">{{cat.nombre}}</a>&nbsp;

        {% endfor %}

        </div>

    </section>


<div class="container">

  <div style="float: right ;">


    {% if request.user.is_authenticated %}
  

    {% include "carro/widget.html" %}

    {% else %}

    <div class="alert alert-danger text-center">Login para ver Carro</div> 

    {% endif %}
  
  </div>

  <div class="row">

  {% for producto in productos %}
  
        <div class="col-md-3 d-flex align-items-stretch"> {# This makes cards in a row the same height #}
            <div class="card">
                <img src="{{ producto.image.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                <div class="card-body d-flex flex-column text-center">
                    <h7 class="card-title">{{ producto.nombre }}</h7>
                    <p class="card-text product-price">S/. {{ producto.precio }}</p>
                </div>
                <div class="card-footer text-center mt-auto"> {# mt-auto pushes footer to bottom of .card #}
                    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
                </div>
            </div>
        </div>

    {% endfor %}
</div>
  </div>

{% endblock %}
