
<div class="d-flex justify-content-end">
<table id="carrito" class="table table-bordered" style="color: white;">

    <thead>
        <tr>

            <th colspan="3" class="text-center">

                Carro compras
            </th>

        </tr>

        <tr>

            <th style="text-align: center; ">Producto</th>
            <th style="text-align: center; ">Cantidad</th>
            <th style="text-align: center; ">Suma</th>

        </tr>

    </thead>

<tbody>
    {% if request.session.carro.items %}
        {% for key, value in request.session.carro.items %}
            <tr class="text-center">

                <td style="text-align: center; ">{{value.nombre}}</td>
                <td style="text-align: center; ">{{value.cantidad}}</td>
                <td>

                    <a href="{% url 'carro:agregar' value.producto_id %}#carrito" class="btn btn-sm btn-success">+</a>
                    <a href="{% url 'carro:restar' value.producto_id %}#carrito" class="btn btn-sm btn-success">-</a><br/>

                    S/.{{value.precio}}
                    

                </td>

            </tr>



        {% endfor %}

    {% else %}
        <tr>
            <td colspan="3">

                <div class="alert alert-danger text-center">
                    Sin productos

                </div>

            </td>

        </tr>
    {% endif %}

</tbody>


<tfoot>
    <tr>
        <td colspan="3">

            Total: S/.{{importe_total_carro}}

        </td>

    </tr>

    {% if request.session.carro.items %}
   <div id="pedido-seccion" class="some-container-class"></div>
    <tr>
        <td colspan="3" style="text-align: center;">

            <a href="../pedidos#pedido-seccion" class="btn btn-success">Hacer pedido</a>

            {% if messages %}
                <div class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</p>
                {% endfor %}
                </div>
            {% endif %}

        </td>           

    </tr>

    {% endif %}
    </div>
</tfoot>

</table>
</div>
