<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    Hola {{nombreusuario}}<br/>
    N° de pedido: {{pedido.id}}<br/>
    Email del usuario: {{emailusuario}}<br/>
    <p><strong>Líneas de pedido:</strong></p> 
        <ul>
            {% for linea in lineas_pedido %}
                <li>{{ linea }}</li>
            {% endfor %}
       </ul>
    
    <!-- {{lineas_pedido}} -->


</body>
</html>